/* CSS reset */
body, p, h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0; 
  
}

/* Box model fix here*/
*{
    -moz-box-sizing: border-box; -webkit-box-sizing:
    border-box; box-sizing: border-box;
}



body{
    font-family: 'Krub', sans-serif;
    font-weight: 300;
    color: #333333;
    background-color: white;
    background-image: url(images/myGradient1.gif);
    background-repeat: repeat-x;
}

.container{
    margin: 0 auto;
    max-width: 960px;
    box-shadow: 0 0 10px #777;
}
 

/* Header */
header{
    background-color: #f3f3f3;
    background-image: url(images/myLogo4.png);
    background-repeat: no-repeat;
    background-position: left;
}



/* Navigation */
/*Phone Nav*/
@media only screen and (max-width: 600px) {
    header h1{
        color: #333333;
        padding: 1rem 0 .1rem 20%;
        font-size: 1.75rem;
    }
    
    header h2{
        color: #333333;
        margin-left: 20%;
        font-size: .86rem;
        letter-spacing: 4px;
    }
    nav {
        background-color: #0E537F;
        padding: .2rem 2%;
    }

    nav ul.menu {
        list-style-type: none;
        padding: 0;
    }

    nav ul.menu li a {
        padding: .2rem 1rem;
        margin-bottom: .5rem;
        background-color: #4D7F5B;
        font-weight: 600; 
        text-decoration: none;
        display: block;
        border-radius: .5rem;
        color: white;
        text-align: center;
    }

    nav ul.menu li:hover a {
        background-color: white;
        color: black; 
    }

    nav ul.menu li.active a {
        background-color: white;
        color: black;
    }

} /* End of Phone Nav*/

/* Desktop Nav */
@media only screen and (min-width: 601px){

    header h1{
        color: #333333;
        padding: 1rem 0 .1rem 15%;
        font-size: 1.75rem;
    }
    
    header h2{
        color: #333333;
        margin-left: 15.4%;
        font-size: .86rem;
        letter-spacing: 4px;
    }
    
        nav{
            background-color: #0E537F;
            background: linear-gradient(to bottom, #0E537F 0%, #4D7F5B 200%);
            border-top: solid 1px #000;
            border-bottom: solid 1px #000;
        }
        
        nav ul.menu{
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        
        nav ul.menu li a{
            display: block;
            padding: .5rem 1.5rem;
            color: #f3f3f3;
            text-decoration: none;
            border-right: solid 1px #f3f3f3;
        }
        
        nav ul.menu li{
            float: left;
            
        }
        
        nav ul.menu li a:hover{
          background-color: #f3f3f3;
          color: #000;
        }
        
        nav ul.menu li.active{
            background-color: #4D7F5B;
        }
        
        div.keepOpen{
            clear: both;
        }
}

/* Main */
main {
    padding: .5rem 2%;
    background-color: #fff;
}

main h1 {
    font-size: 2rem;
    color: #4D7F5B;
    border-bottom: 1px solid LightSlateGray;
    margin-bottom: .4rem;
}

main h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: .2rem;
}

main p {
    padding-bottom: .8rem;
    line-height: 150%;
}


main blockquote{
    font-style: italic;
    margin: .4rem 2%;
    font-size: .9rem;
}

main p.topPage{
    text-align: center;
    
}
main p.topPage a{
    text-decoration: none;
    color: #0E537F;
}

main p.topPage a:hover{
    color: black;
}

main a:hover{
    color: #1290cf;
}

/* Images */

figure.rightSide{
    float: right;
    width: 33.333%;
    border: solid 1px #4c6c73;
    margin: 0 0 .25em 2%;
}

figure.rightSide img {
    width: 100%;
}

figure.rightSide figcaption {
    text-align: center;
    font-size: .7rem;
    color: #4c6c73;

}
figure.winners {
    float: left;
    padding-top: 2px;
    border: 1px solid #4c6c73;
    text-align: center;
    height: 200px;
    width: 179px;
    margin: 1rem;
}
figure.winners img{
    width: 100%
}

figure.winners figcaption {
    font-size: .8rem;
}

figure.winners figcaption span {
    display: block;
    font-weight: bold;
    font-size: .9rem;
    color: #4D7F5B;
}




/* Lists */
main ul.check, main ol.bulb{
    margin: 0 0 .8rem 0;
    padding: 0 0 0 2rem;
}

main ul.check{
    list-style-image: url(images/myCheck.png);
}
main ol.bulb{
    list-style-image: url(images/lightbulb.png);
}
main dl dt{
    margin: 0;
    font-weight: 600;
    padding: 0 0 0 1rem;
}

main dl dd{
    margin: 0;
    padding: 0 0 .75rem 2rem;
}

dd.aProper a {
    text-decoration: none;
    color: #4D7F5B;
}
dt#name{
    margin-top: 1rem;
    padding: 0 0 0 2rem;
}

dd#email a{
    text-decoration: none;
    color: #4D7F5B;
}

/* form styling*/

form.registerForm fieldset {
    margin-bottom: 2rem;
    border-radius: .5rem;
    font-size: .8rem;
    color: #0E537F;
}

form.registerForm textarea {
   display: block;
}

form.registerForm legend {
    font-weight: 600;
    margin-left: 1rem;
    color: #4D7F5B;
}
form.registerForm span {
    display: block;
    padding: .8rem 0 0 .3rem;
}

form.registerForm .userInfo {
    color: #0E537F;
    width: 20rem;
    border-radius: .6rem;
    border: solid 1px #cacabb;
    padding: .4rem;
    
}

form.registerForm .userButton {
    width: 20rem;
    padding: .8rem;
    margin-left: 2%;
    background: #0E537F;
    border: solid 1px #666;
    border-radius: .5rem;
    color: white;
}

footer{
    background-color: rgb(14, 83, 127);
    text-align: center;
    color: white;
    padding: .5rem;
    font-size: .8rem;
    font-weight: 600;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}



