/* CSS reset */
body, p, h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0; 
  
}

/* Box model fix here*/
*{
    -moz-box-sizing: border-box; -webkit-box-sizing:
    border-box; box-sizing: border-box;
}

body{
    font-family: 'Krub', sans-serif;
    font-weight: 300;
    color: #333333;
    background-color: white;
    
}

/* Header */
header{
    background-color: #f3f3f3;
}

header h1{
    color: #333333;
    padding: 1rem 0 0 2%;
    font-size: 1.75rem;
}

header h2{
    color: #333333;
    padding-left: 3%;
    font-size: .86rem;
    letter-spacing: 4px
}

/* Navigation */
nav{
    background-color: #0E537F;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
}

nav ul.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul.menu li a{
    display: block;
    padding: .5rem 1.5rem;
    color: #f3f3f3;
    text-decoration: none;
    border-right: solid 1px #f3f3f3;
}

nav ul.menu li{
    float: left;
    
}

nav ul.menu li a:hover{
  background-color: #f3f3f3;
  color: #000                             ;
}

nav ul.menu li.active{
    background-color: #4D7F5B;
}

div.keepOpen{
    clear: both;
}

/* Main */
main {
    padding: .5rem 2%;
    background-color: #fff;
}

main h1 {
    font-size: 2rem;
    color: #4D7F5B;
    border-bottom: 1px solid LightSlateGray;
    margin-bottom: .4rem;
}

main h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: .2rem;
}

main p {
    padding-bottom: .8rem;
    line-height: 150%;
}


main blockquote{
    font-style: italic;
    margin: .4rem 2%;
    font-size: .9rem;
}

main p.topPage{
    text-align: center;
    
}
main p.topPage a{
    text-decoration: none;
    color: #0E537F;
}

main p.topPage a:hover{
    color: black;
}

main a:hover{
    color: #1290cf;
}

/* Images */

figure.rightSide{
    float: right;
    width: 33.333%;
    border: solid 1px #4c6c73;
    margin: 0 0 .25em 2%;
}

figure.rightSide img {
    width: 100%;
}

figure.rightSide figcaption {
    text-align: center;
    font-size: .7rem;
    color: #4c6c73;

}
figure.winners {
    float: left;
    padding-top: 2px;
    border: 1px solid #4c6c73;
    text-align: center;
    height: 200px;
    width: 179px;
    margin: 1rem;
}
figure.winners img{
    width: 100%
}

figure.winners figcaption {
    font-size: .8rem;
}

figure.winners figcaption span {
    display: block;
    font-weight: bold;
    font-size: .9rem;
    color: #4D7F5B;
}




/* Lists */
main ul.check, main ol.bulb{
    margin: 0 0 .8rem 0;
    padding: 0 0 0 1rem;
}

main ul.check{
    list-style-type: square;
}
main ol.bulb{
    list-style: circle;
}
main dl dt{
    margin: 0;
    font-weight: 600;
    padding: 0 0 0 1rem;
}

main dl dd{
    margin: 0;
    padding: 0 0 .75rem 2rem;
}

dd.aProper a {
    text-decoration: none;
    color: #4D7F5B;
}
dt#name{
    margin-top: 1rem;
    padding: 0 0 0 2rem;
}

dd#email a{
    text-decoration: none;
    color: #4D7F5B;
}

footer{
    background-color: rgb(14, 83, 127);
    text-align: center;
    color: white;
    padding: .5rem;
    font-size: .8rem;
    font-weight: 600;
}



